tensorflow_gpu==1.15.0
scikit-learn==0.23.0
Keras==2.4.3
keras-bert==0.85.0
keras-embed-sim==0.8.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-radam==0.15.0
keras-self-attention==0.46.0
keras-transformer==0.38.0
tqdm
pandas
python-Levenshtein
path
colorama
